* {
    margin: 0px;
    padding: 10px;
    box-sizing:content-box;
}
.form-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: .3rem auto;
    border-radius: 30px;
    box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
    background: #fff;
    overflow: visible!important;
    border: 0px;
    padding: 1rem!important;
    margin-top: 100px;
}
body{
    background: rgb(255,255,255);
    font-family: 'Segoe UI',sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
.form-container .submit-form {
    display: flex;
    justify-content: center;
    float: right;
}
.form-container .submit-form input[type="submit"] {
    padding: 8px 14px;
    border: none;
    border-radius: 2px;
    background: #673AB7;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    
}
.form-container  h1{
    text-align: center;
    margin: 0px opx 20px;
    font-size: 24px;
    font-weight: 400;
}
.space{
    width: 250px;
}