* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: rgb(255,255,255);
    font-family: 'Segoe UI',sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
.form-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: .3rem auto;
    border-radius: 30px;
    box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
    background: #fff;
    overflow: visible!important;
    border: 0;
    padding: 1rem!important;
    margin-top: 200px;
}
.form-container .form-wrap{
    background: rgb(255,255,255);
    width: 100%;
    padding: 20px 20px ;
}
.form-container .form-wrap h1{
    text-align: center;
    margin: 0px opx 20px;
    font-size: 24px;
    font-weight: 400;
}
.form-container .form-wrap .form-box{
    margin: 20px 0px 15px;
}
.form-container .form-wrap .form-box input[type="text"]{
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #353535;
    width: 100%;
}
.form-container .form-wrap .submit-form {
    display: flex;
    justify-content: center;
    float: right;
}
.form-container .form-wrap .submit-form input[type="submit"] {
    padding: 8px 14px;
    border: none;
    border-radius: 2px;
    background: #673AB7;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    
}
